<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="public" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/colemanwhaylon/index.json"  />
  </packageSources>

  <packageSourceCredentials>
    <customfeed>
      <add key="Username" value="colemanwhaylon" />
      <add key="ClearTextPassword" value="Sy!via11291971" />
    </customfeed>
  </packageSourceCredentials>
</configuration>